@font-face {
    /* Regla general  de roboto */
    font-family: "Roboto";
    src: url(./fuentes/Roboto/Roboto-Medium.ttf);
}

@font-face {
    /* Regla especifica cuando tenemos una propiedad */
    font-family: "Roboto";
    src: url(./fuentes/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: 100;
}